

header {
	background: #FFEAEA;
}

header a {
	color: #FF8787;
}

ul {
	padding: 0;
	margin: 0;
}

.menu {
	display: flex;
}

.nav {
	display: flex;
	align-items: center;
	padding-top: 18px;
}

.nav a {
	margin-right: 45px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Comfortaa' , sans-serif;
}

.logo {
	margin-right: 155.53px;
}

.tel {
	margin-left: auto;
}

h1 {
	font-family: 'Yeseva One';
	font-size: 65px;
	color: #6A2727;
}

h2 {
	font-family: Yeseva One;
	font-size: 50px;
	color: #6A2727;
}

.container {
	width: 1170px;
	margin: 0 auto; /*center positioning*/
}

p {
	font-family: 'Comfortaa' , sans-serif;
	font-size: 18px;
	color: #6A2727;
}

.container1 {
	display: flex;
}

.block1 {
	margin-left: 180px;
	margin-top: 111px;
}

.block2 {
margin-left: auto;
margin-top: 39px;
padding-right: 180px;
}

.button {
	width: 247px;
	height: 59px;
	background: #FA516E;
	border-radius: 40px;
	border: none;
	font-family: 'Comfortaa' , sans-serif;
	font-size: 25px;
	color: #FFF;
	margin-bottom: 145px;
	}

	section {
		background: linear-gradient(to right, #A55555, #FEA6A6);
	}

	.container2 {
		padding-top: 40px;
		padding-bottom: 40px;
		margin-left: 180px;

	}

	section h2 {
		color: #FFD9D9;
	}

	section li {
		color: #FFD9D9;
	}

	section p {
		color: #FFD9D9;
	}