h1{color: #6A2727;
	font-size: 65px;}
p{color: #6A2727;
font-size: 18px;}
a{color: #6A2727;
font-size: 14px;}
.content{ background-color: #D07C7C;}
li {color: white;}
.content li { color: #6A2727;}
.content p { color: #FFEAEA;}
.content1{ background-color: #FFEAEA;}